.contactsMain {
    width: 84vw;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 2vh 2vh 0vh 0vh;
    margin-left: 1%;
    margin-top:1vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
    gap:4vh;
}



.scrollArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Changed */
    gap: 3vw;
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 5vh 10%;
    box-sizing: border-box;
    padding-bottom:15vh;
  }

.visitUs {
  display: block;
  width: 100%;
  flex-basis: 100%;
  text-align: center;
  text-decoration: none;    
  color: rgb(35, 35, 125);          
  font-size: 1rem;   
  font-weight:550;   
  font-style: italic;    
  transition:font-size 0.5s ease;
}

.visitUs:hover {
    font-size:1.1rem;
}

  
  
.contactsMain > *:not(div) {
    align-self: flex-start;
    margin-left: 10%;
}

.contactsMenu {
    height:10vh;
    width:92%;
    display:flex;
    gap: 2vw;
}

.leftMenu {
    flex:1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftMenu h2 {
    font-size:3vw;
    margin:0;
    color:rgb(35,35,125);
    padding:0;
    line-height: 1;
}

.leftMenu p {
    font-size:1.4vw;
    margin: 0;
    padding: 0;
}



.middleMenu {
    flex:2;
    display: flex;
    justify-content: right;
    align-items:center;
}

.rightMenu {
    flex:1;
}

.middleHeader {
    display:flex;  
    padding:0px;
    align-items:center;
}


.middleHeader button {
    height:6.5vh;
    width:3.1vw;
    margin:0px;
    border-radius:50%;
    background-color: transparent;
    border:none;
    margin-left:0px;
    transform:translateX(-150%);

}


.middleHeader img {
    height:1.4vw;
    width:1.4vw;
    cursor: pointer;
}

.middleHeader input {
    height:6.5vh;
    width:25vw;
    border-radius:10vh;
    padding-left:5vh;
    font-size:3vh;
    margin-right:0px; 
}


.contactSection {
    height:fit-content;
    border-radius:2vh;
    box-shadow: 0 0 10px rgb(35, 35, 125);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1vw 0;
    gap:2.2vh;
    flex: 0 0 calc(33.33% - 3vw);
    box-sizing: border-box;

 
}


.profileTeacher {
    height:9vw;
    width:9vw;
    border-radius:5vh;
}

.profileName {
    line-height:1;
    font-weight:550;
    font-size:1.7vw;
    margin-top:0;
    margin-bottom:0;

}

.teacherOf {
    line-height:1;
    font-weight:450;
    font-size:1.2vw;
    margin:0;


}

.contactsDiv {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:0.4vw;
    width: 100%;
    flex:1;
    padding-left:10%;
    margin-top:5%;
    font-weight: 550;
    cursor:pointer;
  }
  
  .row {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin:0;
  }
  
  .icon {
    width: 1.5vw;
    height: 1.5vw;
    object-fit: contain;
    margin:0;
  }
  
  .text {
    font-size:0.9vw;
    line-height:1;
    word-wrap: break-word;
    word-break: break-all;      
    overflow-wrap: break-word;  
    white-space: normal; 
    font-family: Arial, sans-serif;
    color: #000;
  }
  


  @media screen and (max-width: 1280px) {
    .contactsMain {
        width:100%;
    }

    .leftMenu p {
        font-size:2vh;
        margin: 0;
        padding: 0;
    }


    .profileTeacher {
        height:15vw;
        width:15vw;
        border-radius:3.6vh;
    }
    
    .profileName {
        line-height:1;
        font-weight:550;
        font-size:3.8vw;
        margin-top:0;
        margin-bottom:0;
    
    }


    .teacherOf {
        font-size:1.8vw;
    }

      
  .text {
    font-size:1.5vw;
  }


  

    .middleHeader image {
        height: 10vw;
        width: 10vw;
        
    }
    .rightMenu {
        display:none;
    }


    .middleHeader input {
        font-size: 3vw;
    }


  }


  @media screen and (max-width: 1203px) {
    .contactSection {
        flex: 0 0 calc(49% - 1vw);

    }

    .profileTeacher {
        height:25vw;
        width:25vw;
        border-radius:4vh;
    }
    
    .profileName {
        line-height:1;
        font-weight:550;
        font-size:5vw;
        margin-top:0;
        margin-bottom:0;
    
    }


    
    .teacherOf {
        font-size:3vw;
    }

      
  .text {
    font-size:2.3vw;
    line-height:1.5;
  }

  }


  @media screen and (max-width: 786px) {
    .scrollArea {
        margin: 0;

    }


    .leftMenu p{
        font-size:2.2vw;
    }


    .profileTeacher {
        height:30vw;
        width:30vw;
        border-radius:5vh;
    }
    
    .profileName {
        line-height:1;
        font-weight:550;
        font-size:6vw;
        margin-top:0;
        margin-bottom:0;
    
    }


    
    .teacherOf {
        font-size:3.7vw;
    }

      
  .text {
    font-size:3vw;
    line-height:1.5;
  }



  


  }


  @media screen and (max-width:600px) {

    .contactSection {
        flex: 0 0 calc(100% - 1vw);

    }

    .middleHeader input {
        height:3.3vh;
        font-size:3.5vw;
        padding-left:2vw;
        width:40vw;
    }


    .leftMenu p{
        display: none;
    }

    .leftMenu h2{
        font-size:7vw;
    }


    .profileTeacher {
        height:60vw;
        width:60vw;
        border-radius:8vh;
    }
    
    .profileName {
        line-height:1;
        font-weight:550;
        font-size:7.3vw;
        margin-top:0;
        margin-bottom:0;
    
    }


    
    .teacherOf {
        font-size:5vw;
    }

      
    .text {
        font-size:4.5vw;
    }

    


  }



  @media screen and (max-width:480px) {
    .leftMenu p{
        display: none;
    }

    .leftMenu h2{
        font-size:7vw;
    }


    .profileTeacher {
        height:45vw;
        width:45vw;
        border-radius:4vh;
    }
    
    .profileName {
        line-height:1;
        font-weight:550;
        font-size:8vw;
        margin-top:0;
        margin-bottom:0;
    
    }


    
    .teacherOf {
        font-size:6vw;
    }

      
    .text {
        font-size:5vw;
    }

  }
