.holder {
    display: flex;
    width:100vw;
    padding: 0;
    position: relative;
}

.uploadLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(35, 35, 125, 0.4);
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom:20vh;
  border-top: 0.5px solid rgb(35,35, 125);
}

.userLayer {
  position: absolute;
  top:1.5vh;
  right:2vw;
  z-index: 1000;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;

}

.uploadLayer.fade-in {
  opacity: 1;
  transform: scale(1);
}

.userLayer.fade-in {
    opacity: 1;
  transform: scale(1);
}

