.homeMain {
    width: 84vw;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 2vh 2vh 0vh 0vh;
    margin-left: 1%;
    margin-top:1vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
    position: relative;
}

.scrollArea {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding-top: 2vh; 
    box-sizing: border-box;
    margin-bottom:10%;
  }
  
  
.homeMain > *:not(div) {
    align-self: flex-start;
    margin-left: 10%;
}

.hiThere {
    font-size: 2.5vw; 
    margin-left:10%;
    margin-top: 0;
    color: rgb(35,35,125);
}

.contributionSection {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 0;
    box-sizing: border-box;
}


.contributionClass {
    height:14vw;
    flex: 0 0 calc(25% - 2vw);
    border-radius: 2vh;
    box-shadow: 0px 0px 10px rgb(35, 35, 125);
    display: flex;
    gap: 10%;
    justify-content: center;
    padding-top: 1%;
    box-sizing: border-box;
    background-color: white;
    cursor:pointer;
}

.verticalLine {
    height: 60%;
    width: 3%;
    border-radius: 1vh;
    background-color: rgb(35, 35, 125);
    margin-top: 10%;
}

.contributionData {
    margin-top: 12%;
    height: 70%;
    width: 70%;
}

.contributionData h2 {
    margin: 0;
    font-size:0.9vw; 
}

.contributionData p:nth-of-type(1) {
    font-size:1.4vw; 
    font-weight: 550;
    margin: 0;
    white-space: nowrap;
}

.contributionData p:nth-of-type(2) {
    font-size:3.4vw; 
    margin: 0 0 0 15%;
}

.contributionData h2 span {
    color: rgb(35, 35, 125);
    cursor: pointer;
}


.notesText {
    font-size:2.6vw; 
    margin-left:10%;
    margin-top: 0;
    color: rgb(35,35,125);
    
}

.linksToVisit {
    align-self:flex-start;
    display: flex;
    gap:5vh;
    font-size:1.6vw;
    margin-left:5%;
    cursor: pointer;
}



.active::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background-color: #222;
  margin-top: 1vh;
  margin-left: 50%;
  transform: translateX(-50%);
}




.newDocuments {
    display: flex;
    width: 90%;
    align-items: center;
    gap:4vw;
    margin-top:4%;
    padding-left:5%;
    cursor:pointer;
    margin-bottom:9vh;  
}

.documentItself { 
    height:17vw;
    flex: 0 0 calc(42% - 1rem);
    display: flex;
    flex-direction: column;
    border-radius:2vh;
    box-shadow: 0px 0px 10px rgb(35, 35, 125);
    padding-right:1%;
    padding-bottom:1vh;
    min-height: 170px;
}
.documentItself div:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
}

.rightDocument {
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.leftDocument {
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:4%;
}

.leftDocument img{
    width:8vw;
    height:8vw;
}


  .viewmore {
    color:rgb(0, 0, 116);
    font-weight: bold;
    white-space: nowrap;  /* Prevent line breaks */
    cursor: pointer;
  }

  .viewmore:hover {
    text-decoration: underline;
  }


  .tooltip {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(35,35,125);
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
    margin-top: 4px;
    z-index: 10;
  }
  

  .viewMore:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  

.viewMore img {
    height:60%;
    width:60%;

 }


 .docTitle {
    font-size: 1.5vw;
    font-weight:650;
    margin-bottom:0;
  
  }
  .docDescription {
    font-size:1.2vw;
    font-weight:500;
    margin-bottom: 0;
  }

 .furtherActions {
    display: flex;
    height: fit-content;
    align-items: center;
    margin-top: auto; 
    padding: 0 5%;
    gap: 5%;
    font-weight: 600;
 }


  .furtherActions img {
    height:4vh;
    width:4vh;
    cursor: pointer;

 }
 .furtherActions div:nth-of-type(2){
    margin-left: auto;
 }



 .tooltipWrapper {
    position: relative;
    display: flex; 
    align-items: center;
  }
  
  .tooltip {
    position: absolute;
    bottom: -160%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(35, 35, 125);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    padding:4px 8px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;
    height: fit-content;
  }
  
  .tooltipWrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent rgb(35, 35, 125) transparent;
  }

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaderonContainer span {
  font-size: 1.2rem;
  color: #555555;
  font-family: Arial, sans-serif;
}

















  @media (max-width: 1280px) {
    .homeMain {
        width:100%;
    }


  .viewMore {
    height: 40px;
    width: 40px;
  }


    .contributionClass {
        flex: 0 0 calc(49% - 2vw);
        height: 20vw;
    }
    

    .contributionData h2 {
        margin: 0;
        font-size:2.4vw; 
    }

    .contributionData p:nth-of-type(1) {
        font-size:3vw; 

    }
    
    .contributionData p:nth-of-type(2) {
        font-size:4.5vw; 

    }

    .hiThere {
        font-size: 3.7vw; 
    }

    .contributionData {
        margin-top:8%;
    }
    .verticalLine {
        margin-top: 7%                                                                                                          Q1;
    }




    .documentItself {
        flex: 0 0 calc(50% - 1rem);
        width:90%;
        margin:0;
      }
  
  
      .newDocuments {
        flex-direction:column;
      }


      .docTitle {
        font-size:3.5vw;    
      }
      .docDescription {
        font-size:1.9vw;
      }
  
      .leftDocument img {
        height:13vw;
        width:13vw;
      }

      .linksToVisit {
        font-size:2.4vw;
        margin-left:6%;
      }
      
      .notesText {
        font-size:3.5vw;
      }
  
  }




  @media (max-width: 786px) {

    .contributionSection {
        justify-content: center;
        gap:5vw;
    }
    .contributionClass {
        flex: 0 0 calc(80% - 4vw);
        height: 30vw;
    }

    .hiThere {
        font-size: 5vw; 
    }

    .contributionData p:nth-of-type(1) {
        font-size:5vw; 
        line-height:1;

    }
    
    .contributionData p:nth-of-type(2) {
        font-size:9vw; 

    }
    .contributionData {
        margin-top:5%;
    }

    .verticalLine {
        margin-top:5%;
    }

    .contributionData h2 {
        margin: 0;
        font-size:3.5vw; 
    }



    .docTitle {
        font-size:3.7vw;    
      }
      .docDescription {
        font-size:2.1vw;
      }
  
      .leftDocument img {
        height:15vw;
        width:15vw;
      }

      
      .notesText {
        font-size:6.5vw;
      }

      .linksToVisit {
        font-size:3vw;
      }
  }


  @media (max-width: 600px) {
    .contributionClass {
        flex: 0 0 calc(95% - 4vw);
        height: 35vw;
    }

    .contributionData h2 {
        margin: 0;
        font-size:4.6vw; 
    }


    .hiThere {
        font-size: 7vw; 
    }

    .contributionData p:nth-of-type(1) {
        font-size:6vw; 
        line-height:1;

    }
    
    .contributionData p:nth-of-type(2) {
        font-size:11vw; 

    }


    .docTitle {
        font-size:4.5vw;    
      }
      .docDescription {
        font-size:2.7vw;
      }
  
      .leftDocument img {
        height:20vw;
        width:20vw;
      }

      .notesText {
        font-size:7.5vw;
      }
  }






  

   
  
  