body {
    margin:0px;
    padding:0px;
    overflow: hidden;
}
*:not(h2) {
  font-family: 'Karma', 'Arial', sans-serif;
}



  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
  
  
