.savedMain {
    width: 84vw;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 2vh 2vh 0vh 0vh;
    margin-left: 1%;
    margin-top:1vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
    overflow-x:hidden;
    position: relative;
}

.scrollArea {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding-top: 2vh; 
    box-sizing: border-box;
    padding-bottom:10vh;
    display: flex;
    flex-direction: column;
}


.savedHeading {
    font-size:  2.5vw; 
    margin-left:5%;
    margin-top: 0;
    color: rgb(35,35,125);
    margin-bottom: 1.5%;
}

.notesHeading {
    font-size:2.3vw; 
    margin-left:10%;
    margin-top: 0;
    color: rgb(35,35,125);
    margin-bottom: 1%;
}

.recentHeading {
    font-size:1.4vw; 
    margin-left:7%;
    margin-top: 0;
    color: rgb(0, 0, 0);
}


.newDocuments {
    display: flex;
    width: 90%;
    align-items: center;
    gap:4vw;
    margin-top:4%;
    padding-left:5%;
    cursor:pointer;
    margin-bottom:9vh;   

}



.documentItself { 
  height:17vw;
  flex: 0 0 calc(42% - 1rem);
  display: flex;
  flex-direction: column;
  border-radius:2vh;
  box-shadow: 0px 0px 10px rgb(35, 35, 125);
  padding-right:1%;
  padding-bottom:1vh;
  min-height: 170px;
}




.documentItself div:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
}
.rightDocument {
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.leftDocument {
    width:40%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:4%;
}

.leftDocument img{
  width:8vw;
  height:8vw;
}

.viewMore {
  position: relative;
  height:4vw;
  width:4vw;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: rgba(170, 170, 170,0.7);
}


  

  .tooltip {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(35,35,125);
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
    margin-top: 4px;
    z-index: 10;
  }
  

  .viewMore:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  

.viewMore img {
    height:60%;
    width:60%;

 }


 .docTitle {
    font-size: 1.5vw;
    font-weight:650;
    margin-bottom:0;
  
  }
  .docDescription {
    font-size:1.2vw;
    font-weight:500;
    margin-bottom: 0;
  }

 .furtherActions {
    display: flex;
    align-items: center;
    height:4.6vh;
    margin-top:auto;
    padding:0 5%;
    gap:5%;
    font-weight:600;
 }


  .furtherActions img {
    height:4vh;
    width:4vh;
    cursor: pointer;

 }
 .furtherActions div:nth-of-type(2){
    margin-left: auto;
 }


 .tooltipWrapper {
    position: relative;
    display: flex; 
    align-items: center;
  }
  
  .tooltip {
    position: absolute;
    bottom: -160%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(35, 35, 125);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    padding:4px 8px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;
    height: fit-content;
  }
  
  .tooltipWrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent rgb(35, 35, 125) transparent;
  }


.loaderContainer {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaderonContainer span {
  font-size: 1.2rem;
  color: #555555;
  font-family: Arial, sans-serif;
}











  @media (max-width: 1280px) {
    .savedMain {
      width:100%;
    }


    .viewMore {
      height: 40px !important;
      width: 40px !important;
   }

    
    .notesHeading {
      font-size:4.5vw;
    }

    .recentHeading {
      font-size:2.6vw;
    }

    
    .scrollArea {
      text-align: center;
      padding-bottom: 15vh;
    }

    .documentItself {
      flex: 0 0 calc(50% - 1rem);
      width:90%;
      margin:0;
    }


    .newDocuments {
      flex-direction:column;
    }

    .savedHeading {
      font-size:6vw;

    }



    .docTitle {
      font-size:3.5vw;    
    }
    .docDescription {
      font-size:1.9vw;
    }

    .leftDocument img {
      height:13vw;
      width:13vw;
    }

  }


  @media (max-width: 768px) {
    .savedHeading {
      font-size:6vw;

    }

    .notesHeading {
      font-size:4.5vw;
    }


    .recentHeading {
      font-size:3.5vw;
    }



    .docTitle {
      font-size:3.7vw;    
    }
    .docDescription {
      font-size:2.1vw;
    }

    .leftDocument img {
      height:15vw;
      width:15vw;
    }


  }



  @media (max-width: 600px) {

    .savedHeading {
      font-size:10vw;

    }
    
    .notesHeading {
      font-size:7.5vw;
    }

    .recentHeading {
      font-size:4.5vw;
    }


    .docTitle {
      font-size:4.5vw;    
    }
    .docDescription {
      font-size:2.7vw;
    }

    .leftDocument img {
      height:20vw;
      width:20vw;
    }
  }



  @media (max-width: 600px) {

    .docTitle {
      font-size:4.7vw;    
    }
    .docDescription {
      font-size:3.1vw;
    }

    .leftDocument img {
      height:22vw;
      width:22vw;
    }

  }
   