
.errorBoundary {
    height:20vw;
    width:30vw;
    display: flex;
    flex-direction: column ;
    justify-content:center;
    font-size:2vw;
    font-weight: 950;
    align-self: center;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.errorBoundary img{
    height:85%;
}
.errorBoundary p {
    align-self: center;
    color:rgb(35,35,125);
}